<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.insurance_backend.mapper.UserMapper">

    <select id="findByUsername" resultType="com.example.insurance_backend.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <insert id="insertUser">
        INSERT INTO users (username, password_hash, verification_token, verified)
        VALUES (#{username}, #{passwordHash}, #{verificationToken}, #{verified})
    </insert>

    <select id="findByToken" resultType="com.example.insurance_backend.entity.User">
        SELECT * FROM users WHERE verification_token = #{token}
    </select>

    <update id="updateUser">
        UPDATE users
        SET username = #{username},
            password_hash = #{passwordHash},
            verification_token = #{verificationToken},
            verified = #{verified}
        WHERE id = #{id}
    </update>

</mapper>